
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');
/* .body {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  height: 200vh;
} */

/* *{
  border: 2px solid salmon;
} */
.app{
  overflow-x: hidden;
  /* background-color: cornflowerblue; */
  font-family: 'Source Sans Pro', sans-serif;
}

.active{
  color: royalblue !important;
}